<!DOCTYPE html>
<html>
   <head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link href="src/css/style.css" rel="stylesheet">
       
       <title>Document</title>
   </head>
   <body>
   
   <div id="js-app" v-on:mousemove="mPosition($event)">
        {{message}}
        <br>
        <button v-on:click="changeText">Say Hi</button>
        <input v-model="message">

        <hr>
        <h1>Note examen array</h1>
        <ul>
            <li v-for="nota in note">
                {{ nota.nota }}
            </li>
        </ul>

   </div> 

 
   <script src="dist/main.js"></script>
   </body>
</html>