<!DOCTYPE html>
<html>
   <head>
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <link href="src/css/style.css" rel="stylesheet">
       
       <title>Document</title>
   </head>
   <body>
   
   <div id="js-app" v-on:mousemove="mPosition($event)">
        {{message}}
        <br>
        <button v-on:click="changeText">Say Hi</button>
        <input v-model="message">

        <hr>
        <h1>Note examen array</h1>
        <ul>
            <li v-for="nota in note">
                {{ nota.nota }}
            </li>
        </ul>

        <hr>
        <h1>Note examen obj</h1>
        <ul>
            <li v-for="(value, key) in noteObj">
                {{key+1}}. {{ value.firstName }}, {{ value.nota}}
            </li>
        </ul>

        <hr>
        <span>
        {{sayHello()}}
        </span> <br> <br>
        <button v-on:click="{{sayHello2()}}">Change Title</button>

        <hr>
        <a v-bind:href="link">Google</a>

        <hr>
        <h1 v-once>{{title}}</h1>
        <p v-once>{{message}}</p>

        <hr>
        <p v-html="fullhref"></p>
   </div>    


   
<!-- ============================== -->
<hr>
 
<h1>Exercise</h1>
 <div id="exercise">
  <p>1.</p>  <p>Name (age): {{name}}   ({{age}})</p>

  <p>2.</p>  <p>Age(*3): {{ age * 3}}</p>

  <p>3.</p>  <p v-once>Random Float: {{ randomFloat() }}</p>
    
  <p>4.</p>  <div>
                 <p v-html="imagine"></p>
             </div>

  <p>5.</p>  <div>
               Text:  {{text}} <br> <br>
                <input v-model="text">  
              </div> 
        <br>
     
  <p>6.</p>  <div>Counter: {{counter}}</div>
             <p> <button v-on:click="incrementValue">plus</button><button v-on:click="decrementValue">minus</button> </p> 
 
 </div>
   

 
   <script src="dist/main.js"></script>
   </body>
</html>